body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-one);
  color: var(--bg-two);
  font-weight: bolder;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bg-one: #1b1919;
  --bg-two: #7fcd91;
}

.element:not(:first-of-type) {
  margin-top: 15rem;
}

/* Navbar styling */

nav {
  width: 100vw;
  background: transparent;
  position: fixed;
  padding-top: 2rem;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  color: var(--bg-two);
  cursor: pointer;
}

.nav-link:hover, .con-link:hover {
  text-decoration: line-through
}

/* About styling */

.avatar {
  background: var(--bg-two);
  border-radius: 50%;
  height: 20rem;
  float: left;
  margin-right: 2rem;
}

.text {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 2;
}

.ab-grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.list-item, .list-item-a {
  color: var(--bg-two);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-item-a:hover {
  text-decoration: line-through;
}

.ab-icon {
  height: 1.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 600px) {
  .ab-grid {
    display: grid;
    gap: 2rem;
  }
  .avatar {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    text-align: center;
  }
}

/* Home styling */

.home-text {
  font-size: 10rem;
  letter-spacing: 5px;
  margin: 0;
  text-align: left;
  margin-left: 3rem;
}

.side-text {
  letter-spacing: 2px;
  position: absolute;
  top: 38rem;
  right: -5rem;
  font-size: 2rem;
}

.rotate {
  transform: rotate(-270deg);
  margin: 0;
  padding: 0;
}

.side-img {
  height: 3rem;
  position: absolute;
  top: 5.25rem;
  right: 9rem;
  animation: 2s bounce ease infinite;
  animation-delay: 2s;
}

@keyframes bounce {
  0% { transform: scale(1,1) translateY(0); }
  10% { transform: scale(1.1,.9) translateY(0); }
  30% { transform: scale(.9,1.1) translateY(-50px); }
  50% { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}

@media screen and (max-width: 600px) {
  .home-text {
    margin-left: 1rem;
    font-size: 9rem;
  }
}

/* Shared styling */

.section {
  padding: 5rem;
  padding-top: 0;
}

.header {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .section {
    padding: 1rem;
    padding-top: 3rem;
  }
  .side-text {
    display: none;
  }
  .side-img {
    display: none;
  }
}

/* Projects styling */

.proj-div {
  color: var(--bg-two);
  padding: 1rem;
  text-align: left;
}

.proj-title {
  font-size: 2rem;
  margin: 0;
}

.proj-text {
  font-size: 1.25rem;
  line-height: 2;
}

.proj-link {
  text-decoration: none;
  border: 2px solid var(--bg-two);
  color: var(--bg-two);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.4rem;
}

.proj-link:hover {
  background: var(--bg-two);
  color: var(--bg-one);
  text-decoration: line-through;
  transition: 300ms ease;
}

/* Contact styling */

.con-icon {
  height: 2rem;
}

.con-link {
  font-size: 1.25rem;
  letter-spacing: 2px;
  color: var(--bg-one);
  text-decoration: none;
  transition: 300ms ease;
}